<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="{{ static_url("style/basic.css") }}"> 
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.8.1.min.css"></link>
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.8.1.min.js"></script>

<center><h1> Matriz do Bicluster </h1></center>
<center><p><i> As linhas representam os atributos, enquanto que as colunas representam os objetos </i><p></center>
	{% raw p_script %}
</head>

<body>
	{% raw p_div %}
</body>
</html>
